

.btn-primary{
    
    background-color: green ;
    font-weight: bold;
    font-size: 11px;
    color: white;
    border: none;
    padding: 15px 28px;
    border-radius: 7px;
    }
    .btn-atemp{
        background-color: green;
        font-weight:bold ;
        font-size: 11px;
        color: white;
        border: none;
        padding: 15px 28px;
        border-radius: 7px;
        background-size: 15px;
        text-align: center;
        
    }
    .chilld{
        background-color: green;
    }
    .btn-prime{
     background-color: darkorange;
     font-weight: bold;
     font-size: 11px;
     color: white;
     border: none;
     padding: 15px 28px;
     border-radius: 7px;
    }
    .btm-primer{
        background-color: darkblue;
        font-weight: bold;
        font-size: 11px;
        color: white;
        border: none;
        padding: 15px 28px;
        border-radius: 7px;

    }
   .dark-2{
    color: gray;
   }
   .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 200px;
    background-color: aquamarine;
    border-radius: 22;
   }
    .header{
        background-image:
    }
   /* banner styles */
    .banner-greetings{
   
    }
    .banner-content{
        max-width: 580px;
    }
    .banner-title{
     font-weight: 615px;
     font-size: 50px;
     background-color: 
     background-position: ;
     
     
    }
    .banner-prof-pic{
        width: 550px;
    }


    /* skills section styles */
    .skills-container{
        display: flex;
    }


.skill{
    padding: 28px;
     
}

    .skill-font{
        background-color: yellow;
        border-radius: 50px;
        padding: 31px;
        gap: 25px;
    }

.skill-inst{
    background-color: aqua;
    border-radius: 50px;
    padding: 31px;
    gap: 25px;
}
.skill-front{
    background-color: darkgreen;
    border-radius: 50px;
      padding: 31px;
      justify-content: space-between;
    
      
      
}
.skills-container{
    gap: 25px;
}

.skill-contribuiton{
    
    border-radius: 25px;
}

.skil-conti{
  text-align: right;
  display: flex;
  
  
}
.skill-dumb{
    text-align:
    
} 

.banner-going{
    font-size: 40px;
    font-weight: 600px;
    text-align: ;
}

.banner-prof-picc{
    width: 400px;
    border-radius: 24px;
    
    
    
}

.ban{
 display: flex;
   justify-content: space-between;
   padding: 20px 35px 0 10px;
   background-color: whitesmoke;
   border-radius: ;
   

}
.banner-desp{
    justify-content: right;
}
.parent{
    padding: 20px;
    background-color: whitesmoke;
    max-width: 1140px;
    margin: 22px auto;
    text-align: center;
}
.boldd{
 background-color: lightgreen;
 border: 3px solid;
 padding: 7px;
 font-size: 26px;
 margin: 10px 0px;
 border-radius: 15px;
 display: inline;
}
.child{
    border: 3px solid;
    background-color: whitesmoke;
    padding: 7px;
    font-size: 26px;
    margin: 10px 0px;
    border-radius: 15px;
    display: inline;
    justify-content: space-around
}
.anormal{
    text-align: center;
    
}
.taka{
    font-size: 26px;
    margin: 20px;
    background-color: white;
    color: red;
    max-width: 1140px;
}
.btn-mod{
   text-align: center;
}
.sub-tee{
    background-color: green;
}

